.container {
  flex: 1 1 auto;
}

.pdfButton {
  padding: 0px 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  // position: absolute;
  // right: 20px;
  // top: 20px;
}

.back {
  width: 58px;
  padding-left: 30px;
}

.invisible {
  display: none;
}
