$total-color: #484848;
$main-bgc: #161616;
$hr-color: #5c5c5c;
$btn-color: #a62f2f;
$btn-hover-color: #5c1010;
$btn-active-color: #222222;
$footer-bg-color: #131111;
$model-color: #f35050;
$font-color: white;
