@import "_zero";
@import "_MU";
@import "_mixins";
@import "_variables";

body {
	overflow-y: scroll;
	background-color: $main-bgc;
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 70px;
	color: $font-color;
	display: flex;
	flex-direction: column;
}

.wrapper {
	padding: 0px 20px;
	max-width: rem(1310);
	flex: 1 1 auto;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.inpcontainer {
	display: flex;

	input {
		display: block;
		width: 49.77%;
		height: 50px;
		font-size: 1.65rem;
		padding: 0px 10px;
		margin: 0px 0 40px 0px;

		&:nth-child(1) {
			margin-right: 10px;
		}
	}

	@media (max-width: 702px) {
		display: block;

		h1 {
			font-size: 2rem;
		}

		input {
			font-size: 1.3rem;
			width: 100%;

			&:nth-child(1) {
				margin-bottom: 10px;
			}
		}
	}
}

.btn-container {
	display: flex;
	justify-content: space-between;
}

button {
	display: block;
	width: 400px;
	height: 50px;
	border-radius: 5px;
	background-color: $btn-color;
	color: #fff;
	font-size: 1.5rem;

	&:hover {
		background-color: $btn-hover-color;
	}

	&:active {
		background-color: $btn-active-color;
	}
}

#total-calc {
	background-color: $total-color;
	border-radius: 5px;
	margin-bottom: 131px;
	margin-right: 8px;
}



#total-calc.active {
	height: 64px;
	padding-bottom: 10px;
	background-color: $total-color;
	border-radius: 5px 5px 0 0;
	margin-bottom: 0;
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		bottom: -1px;
		right: 1px;
		height: 9px;
		width: 9px;
		background-color: $total-color;
		border-radius: 50% 50% 50% 0;
		transform: translateX(100%);
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		bottom: 0px;
		right: 0px;
		height: 10px;
		width: 10px;
		background-color: $main-bgc;
		border-radius: 0 100% 0 50%;
		transform: translateX(100%);
	}
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	max-width: max-content;
	margin: 0 auto 37px auto;
}

#select {
	height: 50px;
	display: block;
	font-size: 1.65rem;
	margin: 0px auto 10px auto;
	width: 100%;
	padding-left: 10px;
	cursor: pointer;
}

.result {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px 30px 0px 0px;
	font-size: 1.8rem;
	position: relative;

	div {
		font-size: 1.6rem;
		margin: 0px 0px 8px 0px;

		@media (max-width: 702px) {
			font-size: 1.3rem;
		}
	}

	h2 {
		font-size: 1.8rem;
		margin: 0px 0px 23px 0px;
		position: relative;

		@media (max-width: 702px) {
			font-size: 1.5rem;
		}

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background-color: #fff;
			position: absolute;
			bottom: -3px;
		}
	}
}

.scheme {
	width: 350px;
	display: flex;
	left: 150px;
	position: relative;

	img {
		width: 90%;
	}

	.reverse {
		transform: rotateY(180deg);
	}

	.reverseX {
		transform: rotateX(180deg);
	}

	.model {
		padding: 20px 0 0 15px;
		font-size: 2rem;
		color: $model-color;
	}

	.top {
		position: absolute;
		top: -40px;
		left: 50%;
		transform: translateX(-120%);
		color: $font-color;
		font-size: 1.8rem;
	}

	.left {
		color: $font-color;
		position: absolute;
		transform: rotate(-90deg) translateX(50%);
		top: 50%;

		left: -55px;
		font-size: 1.8rem;
	}

	@media (max-width: 861px) {
		width: 250px;
		display: block;
	}

	@media (max-width: 741px) {
		width: 170px;
		display: block;
		left: 100px;
		.number {
			left: -100px;
		}
	}
}

.number {
	position: absolute;
	font-size: 3rem;
	font-weight: 600;
	top: 0;
	left: 0;
}

.values {
	display: flex;
	position: relative;
	right: 70px;
}

.outside {
	padding: 0px 70px 0px 0px;
}

.inside {
	position: relative;
}

.close {
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	top: -10px;
	right: 0;
	cursor: pointer;

	&::after {
		content: "";
		display: block;
		width: 40px;
		height: 4px;
		background-color: #fff;
		transform: rotate(45deg);
		position: relative;
		left: 5px;
		top: 20px;
	}

	&::before {
		content: "";
		display: block;
		width: 40px;
		height: 4px;
		background-color: #fff;
		transform: rotate(-45deg);
		position: relative;
		left: 5px;
		top: 24px;
	}

	&:hover::after,
	&:hover::before {
		background-color: $model-color;
	}
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	background-color: $hr-color;
	margin-bottom: 65px;
}

.footer {
	min-width: 100%;
	min-height: 120px;
	background-color: $footer-bg-color;
	padding: 55px 0px 0px 20px;
	font-size: 1.3rem;

	h3 {
		max-width: fit-content;
		margin-left: auto;
	}
}

.total-id {
	display: none;

	&.active {
		display: block;
	}
}
.total {
	display: flex;
	justify-content: center;
	background-color: $total-color;
	padding: 26px 0px 26px 0px;
	border-radius: 0 5px 5px 5px;
	margin: 0px 0px 131px 0px;

	&__frame {
		display: flex;
	}

	&__pattern {
		display: flex;
	}

	&__box {
		font-size: rem(28);

		&:not(:first-child) {
			margin: 0px 0px 0px 30px;
		}

		div {
			margin: 0px 0px 3px 0px;
		}
	}

	&__title {
		margin: 0px 0px 10px 0px;
		text-align: center;
		font-size: rem(30);
		font-weight: bold;
		&::after {
			content: "";
			background-color: #fff;
			display: block;
			position: relative;
			width: 100%;
			height: 2px;
			top: 2px;
		}
	}
}

.pattern {
	margin-left: 150px;
}

.karkas,
.pattern {
	h3 {
		margin: 0px 0px 20px 0px;
		font-size: rem(26);
		font-weight: bold;
		text-align: center;
	}
}
.gateRectangle {
	position: relative;
	&::before {
		content: "(";
		position: absolute;
		font-size: 4rem;
		left: -25px;
		top: -8px;
	}
	&::after {
		content: ")";
		position: absolute;
		font-size: 4rem;
		right: -8px;
		top: -8px;
	}
}

@import "_media";
