@media (max-width: 450px) {
  body {
    padding-top: 10px;
    padding: 0px 0px;
  }

  .inpcontainer {
    input {
      margin: 0px 0 10px 0px;
    }
  }

  #total-calc.active {
    height: 58px;
  }

  .result {
    flex-direction: column;
  }

  .scheme {
    display: flex;
    width: 150px;
    position: relative;

    .top {
      position: absolute;
      top: -20px;
      left: 60%;
      color: white;
      font-size: rem(16);
    }

    .left {
      color: white;
      position: absolute;
      transform: rotate(-90deg);
      top: 37%;
      left: -21%;
      font-size: rem(16);
    }

    .number {
      position: absolute;
      font-size: 2rem;
      font-weight: 600;
      top: 0;
      left: -60px;
    }
  }

  .total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: rem(17);

    &__box {
      font-size: rem(17);
      &:not(:first-child) {
        margin: 0px 0px 0px 10px;
      }
    }

    &__title {
      font-size: rem(22);
    }
  }

  .pattern {
    margin-left: 0px;
  }

  .outside {
    padding: 0px 20px 0px 0px;
  }

  .karkas,
  .pattern {
    margin: 0 auto;

    h3 {
      margin: 0px 0px 20px 0px;
      font-size: rem(19);
      font-weight: bold;
      text-align: center;
    }
  }

  .karkas {
    margin: 0px auto 23px auto;

    & .total__box {
      &:not(:first-child) {
        margin: 0px 0px 0px 40px;
      }
    }
  }
  // .values {
  //   display: flex;
  //   position: relative;
  //   left: 80px;
  //   padding-top: 20px;
  // }

  .close {
    top: 0;
    right: -10px;
  }
}
